body{
    background-color: rgba(245, 245, 220, 0.507);
    background-image: url(1900x1900-000000-80-0-0.jpg);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.string{
    display: flex;
}

.tracklist{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(245, 245, 220, 0.507);
    font-size: large;
    border-radius: 20px;
}

.conversation{
    border-radius: 10%;
    border: 7px double black;
}

.Conversations{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5%;
}

.intro{
    background-color: rgba(227, 227, 221, 0.507);
    border-radius: 50px;
    font-size: large;
}

a:hover{
    transform: scale(1.03);
    text-decoration-thickness: 2px;
    text-decoration-line: underline;
}



.images img{
    border-radius: 20px;
    border: 10px double black;
}

.images{
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
}

#image1{
    display: flex;
}

#image2{
    display: flex;
    margin-top: 30%;
}

#image3{
    display: flex;
    margin-top: 60%;
}

h1{
    border-radius: 50px;
}
